$primary-color: #1687a7;
$background-color: #e2dfdf;
$font: #276678;
$font-place-holder: #328ba3;
$shadow-color: #9fa2a3;
$white: rgb(246, 246, 246);
$red: rgb(255, 35, 35);
$spinner-color: #0a6680;
$spinner-shadow: rgba(187, 187, 187, 0.698);
$spinner-red: rgb(195, 19, 19);
$spinner-green: rgb(75, 181, 67);
