.admin {
  //admin index page
  .admin-index {
    border: 1px solid $shadow-color;
    box-shadow: 5px 10px 15px $shadow-color;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
    //view participant
    .viewParticipants {
      padding: 2rem;
      .error-view-participants {
        margin-bottom: 1rem;
      }
      .menu {
        margin-bottom: 2rem;
      }
      .total-wrapper {
        margin-left: 1rem;
        width: 100%;
        color: $font;
        .batch-container {
          .batch-holder {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.4rem;
            width: 100%;
            border-radius: 0.5rem;
            margin-bottom: 0.1rem;
            background-color: $font;
            .batch-text {
              color: $white;
              font-size: 1.6rem;
            }
            .batch-plus-img {
              height: 40px;
              width: 40px;
              transition: all 0.4s;
            }
            .batch-plus-img-rotate {
              -webkit-transform: rotate(45deg);
            }
          }
          .department-container {
            padding: 0 1.5rem;
            .department-holder {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0.2rem;
              width: 100%;
              border-radius: 0.5rem;
              margin-bottom: 0.1rem;
              background-color: $font;
              .department-text {
                color: $white;
                font-size: 1.4rem;
              }
              .department-plus-img {
                height: 35px;
                width: 35px;
                transition: all 0.4s;
              }
              .department-plus-img-rotate {
                -webkit-transform: rotate(45deg);
              }
            }
            .year-container {
              padding: 0 1rem;
              .year-holder {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.2rem;
                width: 100%;
                border-radius: 0.5rem;
                margin-bottom: 0.1rem;
                background-color: $font;
              }
              .year-text {
                color: $white;
                font-size: 1.2rem;
              }
              .year-plus-img {
                height: 30px;
                width: 30px;
                transition: all 0.4s;
              }
              .year-plus-img-rotate {
                -webkit-transform: rotate(45deg);
              }
              .student-wrapper {
                overflow-y: auto;
                max-height: 350px;
                margin-bottom: 0.5rem;
                .student-container {
                  padding: 0 1rem;
                  font-weight: bold;
                  text-align: center;
                  margin-bottom: 0.1rem;
                  .student-holder {
                    border-radius: 0.5rem;
                    background-color: $font;
                    width: 100%;
                    transition: all 0.4s;
                    margin-bottom: 0.1rem;
                    .student-text {
                      font-size: 1.4rem;
                      color: $white;
                    }
                  }
                  .student-holder:hover {
                    background-color: $primary-color;
                  }
                }
              }
              .student-wrapper::-webkit-scrollbar {
                background-color: $white !important;
                width: 10px !important;
              }
              .student-wrapper::-webkit-scrollbar-thumb {
                background-color: $font;
                border-radius: 5px;
              }
            }
            .student-wrapper-none {
              display: none;
            }
            .year-container-none {
              display: none;
            }
          }
          .department-container-none {
            display: none;
          }
        }
        .teacher-department-container {
          .teacher-department-holder {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.4rem;
            width: 100%;
            border-radius: 0.5rem;
            margin-bottom: 0.1rem;
            background-color: $font;
            .teacher-department-text {
              color: $white;
              font-size: 1.6rem;
            }
            .teacher-department-plus-img {
              height: 40px;
              width: 40px;
              transition: all 0.4s;
            }
            .teacher-department-plus-img-rotate {
              -webkit-transform: rotate(45deg);
            }
          }
          .teacher-wrapper {
            overflow-y: auto;
            max-height: 350px;
            margin-bottom: 0.5rem;
            .teacher-container {
              padding: 0 2rem;
              font-weight: bold;
              text-align: center;
              margin-bottom: 0.1rem;
              .teacher-holder {
                border-radius: 0.5rem;
                background-color: $font;
                width: 100%;
                margin-bottom: 0.1rem;
                transition: all 0.4s;
                .teacher-text {
                  font-size: 1.4rem;
                  color: $white;
                }
              }
              .teacher-holder:hover {
                background-color: $primary-color;
              }
            }
          }
          .teacher-wrapper-none {
            display: none;
          }
          .teacher-wrapper::-webkit-scrollbar {
            background-color: $white !important;
            width: 10px !important;
          }
          .teacher-wrapper::-webkit-scrollbar-thumb {
            background-color: $font;
            border-radius: 5px;
          }
        }
      }
      .participant-background {
        background-color: $spinner-shadow;
        position: fixed;
        z-index: 100;
        height: 100vh;
        width: 100vw;
        .participant-container {
          padding: 1rem;
          border-radius: 0.9rem;
          max-width: 400px;
          background-color: $background-color;
          .close-button {
            display: block;
            float: right;
            color: $font;
          }
          .participant-details {
            font: $font;
            display: block;
            margin-top: 1rem;
            .participant-content {
              overflow: hidden;
              display: flex;
              width: 100%;
              padding: 1rem;
              flex-direction: column;
              align-items: center;
              .image-div {
                overflow: hidden;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .participant-image {
                  max-width: 100px;
                  height: 100px;
                  max-height: 150px !important;
                  margin: auto;
                  background-color: $font;
                  margin-bottom: 1.3rem;
                }
                .participant-file {
                  position: relative;
                  left: 50%;
                  margin-bottom: 1rem;
                  margin-left: 2rem;
                  transform: translate(-30%, 0);
                  overflow: hidden;
                }
              }
              .lable-container {
                color: $font;
                font-size: 1rem;
                overflow: hidden;
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                .show-participant-lable {
                  align-items: center;
                  .lable-text {
                    text-align: right;
                  }
                }
              }
              .button-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .button {
                  padding: 0.8rem;
                  border-radius: 0.5rem;
                  border: 2px solid $font;
                  margin: 0.3rem;
                  transition: all 0.4s;
                }
                .button:hover {
                  color: $white;
                  background-color: $font;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 990px) {
  .admin {
    .admin-index {
      .viewParticipants {
        padding: 0 6rem;
        .total-wrapper {
          .batch-container {
            padding: 0 7rem;
            .department-container {
              padding: 0 5rem;
              .year-container {
                overflow: hidden;
                padding: 0 3rem;
              }
            }
          }
          .teacher-department-container {
            padding: 0 12rem;
            .teacher-wrapper {
              padding: 0 5rem;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .admin {
    .admin-index {
      .viewParticipants {
        padding: 0 6rem;
        .total-wrapper {
          .batch-container {
            padding: 0 12rem;
            .department-container {
              padding: 0 5rem;
              .year-container {
                overflow: hidden;
                padding: 0 3rem;
              }
            }
          }
          .teacher-department-container {
            padding: 0 12rem;
            .teacher-wrapper {
              padding: 0 5rem;
            }
          }
        }
      }
    }
  }
}
