@import "./styles-modules/variables";
@import "./styles-modules/reset";
@import "./styles-modules/basics.scss";
@import "./styles-modules/animations.scss";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import "./PagesSass/Admin_Login.scss";
@import "./PagesSass/Admin_Menu.scss";
@import "./PagesSass/Admin_AddParticipants.scss";
@import "./PagesSass/Admin_ViewParticipants.scss";
@import "./PagesSass/Admin_CreateTest.scss";
@import "./PagesSass/Student_Login.scss";
@import "./PagesSass/Student_SettingUp.scss";
@import "./styles-modules/Calculator.scss";
@import "./PagesSass/Teacher_Index.scss";
@import "./PagesSass/Admin_ViewSaved.scss";
body {
  background-color: $background-color;
  font-family: "Source Sans Pro", sans-serif;
}
body::-webkit-scrollbar {
  background-color: $white !important;
  width: 10px !important;
}
body::-webkit-scrollbar-thumb {
  background-color: $font;
  border-radius: 5px;
}
input::selection {
  color: $white;
  background-color: $primary-color;
}
