@import "./styles-modules/variables";
@import "./styles-modules/reset";
@import "./styles-modules/basics.scss";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
body {
  background-color: $background-color;
  font-family: "Source Sans Pro", sans-serif;
}
input::selection {
  color: $white;
  background-color: $primary-color;
}
.admin {
  .form-page {
    .form {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      padding: 1.5rem;
      border-radius: 0.5rem;
      border: 1px solid $shadow-color;
      box-shadow: 5px 10px 15px $shadow-color;
      .form-input {
        background-color: $white;
        width: 100%;
        height: 2rem;
        color: $font;
        line-height: 1rem;
        font-weight: 400;
        font-size: 1.3rem;
        letter-spacing: 1px;
        padding-left: 5px;
        caret-color: $primary-color;
      }
      .Input:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      .form-input::placeholder {
        color: $shadow-color;
      }
      //animation
      .form__group {
        position: relative;
        padding: 20px 0 0;
        margin-bottom: 1.3rem !important;
      }

      .form__field {
        font-family: inherit;
        border: 0;
        border-bottom: 3px solid $primary-color !important;
        outline: 0;
        color: $font;
        background: transparent;
        transition: border-color 0.2s;
        &::placeholder {
          color: transparent;
        }

        &:placeholder-shown ~ .form__label {
          font-size: 1.3rem;
          cursor: text;
          top: 20px;
        }
      }

      .form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        font-weight: 400;
        color: $font-place-holder;
      }

      .form__field:focus {
        ~ .form__label {
          position: absolute;
          top: 0;
          display: block;
          transition: 0.2s;
          font-size: 1rem;
          color: $primary-color;
          font-weight: 700;
        }
        padding-bottom: 6px;
        border-width: 3px;
      }
      /* reset input */
      .form__field {
        &:required,
        &:invalid {
          box-shadow: none;
        }
      }
      .btn {
        background-color: transparent;
        color: $font;
        border: 1px solid $primary-color;
        border-radius: 0.5rem;
        height: 3rem;
        transition: all 0.7s;
      }
      .btn:hover {
        color: $white;
        background-color: $primary-color;
      }
      .btn:active,
      .btn:focus {
        box-shadow: none;
      }
      .error-text {
        color: red;
        margin-bottom: 0.5rem;
      }
    }
  }
  .admin-index {
    border: 1px solid $shadow-color;
    box-shadow: 5px 10px 15px $shadow-color;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
    .menu {
      margin: 0 0.5rem;
      border-bottom: 2px solid $primary-color;
      .menu-item {
        cursor: pointer;
        padding: 0.6rem;
        font-size: 1.2rem;
        border-top-left-radius: 0.6rem;
        border-top-right-radius: 0.6rem;
        transition: all 0.4s;
      }
      .menu-item:hover {
        background-color: $primary-color;
        border-bottom: 1px solid $primary-color;
        color: $white;
      }
      .menu-item-active {
        background-color: $primary-color;
        color: $white;
        border-bottom: 1px solid $primary-color;
      }
    }
    .addParticipants {
      padding: 2rem;
      .menu {
        border-bottom: 2px solid $font;
        .menu-item-active {
          border-bottom: 1.5px solid $primary-color;
          background-color: $font;
        }
        .menu-item:hover {
          background-color: $font;
        }
      }
      .register {
        overflow: hidden;
        color: $font;
        margin-top: 2rem;
        .image-div {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .uploaded-image {
            max-width: 100px;
            height: 100px;
            max-height: 150px !important;
            margin: auto;
            background-color: $font;
            margin-bottom: 1.3rem;
          }
          .upload-file {
            position: relative;
            left: 50%;
            margin-bottom: 2rem;
            transform: translate(-30%, 0);
            overflow: hidden;
          }
        }
        // .errorText {
        //   color: $red;
        //   text-align: center;
        //   margin-bottom: 1.6rem;
        // }
        .register-lable {
          margin-bottom: 1.3rem;
          text-align: right;
          padding: 0;
          padding-top: 0.4rem;
          padding-right: 0.5rem;
        }
        .register-input {
          margin-bottom: 1.3rem;
          padding: 0;
          font-size: 1.2rem;
          input {
            width: 100%;
          }
          .input {
            border: none;
            color: $font;
            border-bottom: 2px solid $font;
            background-color: transparent;
            padding-left: 0.3rem;
            caret-color: $font;
          }
          .input:focus,
          .input:active {
            outline: none;
          }
        }
        .button {
          position: relative;
          left: 50%;
          transform: translate(-50%, 0);
          .button-submit {
            flex: 0 1 auto;
            background-color: transparent;
            padding: 1rem;
            border: 2px solid $font;
            border-radius: 0.6rem;
          }
          .button-submit:hover {
            background-color: $font;
            color: $white;
          }
          .button-submit:focus,
          .button-submit:active {
            box-shadow: none;
          }
        }
      }
    }
  }
}
@media (max-width: 750px) {
  .admin {
    .admin-index {
      .menu {
        .menu-item {
          font-size: 1rem;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .admin {
    .admin-index {
      .menu {
        .menu-item {
          font-size: 0.9rem;
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .admin {
    .admin-index {
      .menu {
        .menu-item {
          font-size: 0.6rem;
        }
      }
    }
  }
}
@media (min-width: 990px) {
  .admin {
    .admin-index {
      .addParticipants {
        .menu {
          margin: 0 10rem;
          .menu-item {
          }
        }
        .register {
          margin: 0 18rem;
          margin-top: 2rem;
          .image-div {
            .upload-file {
              transform: translate(-20%, 0);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 990px) {
  .admin {
    .admin-index {
      .addParticipants {
        .register {
          .image-div {
            .upload-file {
              transform: translate(-20%, 0);
            }
          }
        }
      }
    }
  }
}
